@media (max-width: 320px) {
    section {
        display: block;
        
        .cards1 {
            max-width: 100%;
            width: 200px;
            margin: 0 auto;
            display: block;
            .card {
                width: 200px;
                margin: 10px;
            }
        }

        .cards2 {
            grid-template-columns: repeat(1, 100px);
            gap: 0;
            max-width: 100%;
            width: 200px;
            margin: 0 auto;

            .card {
                width: 200px;
                margin: 10px;
            }
        }
    }
}