{% extends 'base.html' %} {% block content %}
<section class="bg">
  <div>
    <h1>HTML</h1>
  </div>

  <div class="cards1">
    <div class="card">
      <h1>HTML</h1>
      <p>
        структура сайта, язык гипертекстовой разметки, HyperText Markup Language
        (эйчтиэмл)
      </p>
    </div>

    <div class="card">
      <h1>CSS</h1>
      <p>стили сайта - Cascading Style Sheets (сиэсэс)</p>
    </div>
  </div>

  <div class="text">
    <h1>Основные теги</h1>
  </div>

  <div class="cards2">
    <div class="card">
      <h1>img (аймж)</h1>
      <p>
        тэг для изображения, атрибуты: src, alt <span>alt</span> - описание
        картинки <span>src</span> - путь к картинке, передаем через точку и слэш
        (./). Src (срси) – путь, Alt – описание картинки
      </p>
    </div>

    <div class="card">
      <h1>h1-h2-h3-h4-h5-h6</h1>
      <p>размеры текста (h1 – большой, h6 – маленький)</p>
    </div>

    <div class="card">
      <h1>p</h1>
      <p>параграф, абзац, нежирный по умолчанию</p>
    </div>

    <div class="card">
      <h1>a</h1>
      <p>
        гипперссылка, атрибуты:href
        <span>href - для ссылок</span>
      </p>
    </div>

    <div class="card">
      <h1>hr</h1>
      <p>создаёт линию на сайте (ашэр)</p>
    </div>

    <div class="card">
      <h1>button</h1>
      <p>кнопка</p>
    </div>

    <div class="card">
      <h1>Link</h1>
      <p>связывает документы, html c css</p>
    </div>

    <div class="card">
      <h1>Тэги</h1>
      <p>Элементы в html в угловых скобках</p>
    </div>

    <div class="card">
      <h1>Атрибуты</h1>
      <p>вспомогательная информация о тэге, которая определяет как будет выглядеть и работать =” ” </p>
    </div>

    <div class="card">
      <h1>Input</h1>
      <p>
        поле ввода для данных, есть разные типы: text, number, email, color, radio, password и тд.
      </p>
    </div>

    <div class="card">
      <h1>Метаданные (meta)</h1>
      <p>
        данные о сайте, находятся в head и не видны пользователю
      </p>
    </div>

    <div class="card">
      <h1>display:flex</h1>
      <p>
        из блочных элементов делает строчные.
        <br>
        блочные элементы – занимают всю ширину сайта
        строчные элементы – занимают только свою ширину
      </p>
    </div>

    <div class="card">
      <h1>justify-content </h1>
      <p>
        выравнивает элементы по главной оси (работает только когда есть display:flex)
      </p>
    </div>

    <div class="card">
      <h1>align-items</h1>
      <p>
        выравнивает элементы по поперечной оси (работает только когда есть display:flex)
      </p>
    </div>

    <div class="card">
      <h1>gap</h1>
      <p>
        расстояние между элементами работает только когда есть display:flex
      </p>
    </div>


  </div>
</section>
{% endblock content %}